body{
    margin: 0;
    padding: 0;
    font-family:Poppins;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

header .contenedor{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a{

    
    margin: 0 15px;
}

header{
    
    background:url(/img/encabezado_2.jpg);
    background-size: cover;
}
h1{
    font-size: 65px;
}
.titular {
    color: cornflowerblue;
    font-size: 30px;
    line-height: 70px;
    margin-left: 100px;
    margin-top: 120px;

}

.titular p{
    font-style: italic;
    margin-bottom: 40px;
}
.titular a:hover{
    
    font-size: 35px;
    animation-delay: 55ms;
    padding: 20px 40px;
    
}

h2{
    text-align: center;
 }

.atuendos-tejidos img{
    display: flex;
    max-width: 200px;
    height: auto;
}
 .contenedor-atuendos-artesanales{
     display: flex;
    
 }

