body{
    margin: 0;
    padding: 0;
    font-family:Poppins;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.contenedor{
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

header .contenedor{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a{

    
    margin: 0 20px;
}

header{
    background: url(/img/encabezado_2.jpg)
    background-size: cover;
}

.titular{
    color: cornflowerblue;
    font-size: 30px;
    line-height: 55px;
}